
.navbar-inverse {
    background-color: #545454;
	border-color: #101010;
}

.navbar-inverse .navbar-brand {
    color: #FFFEFE;
}

.navbar-brand {
/*     height: 30px; */
}

.navbar {
    min-height: 20px;
    margin-bottom: 5px;
	/* padding: 5px 5px; */
}