
.navbar-inverse {
    background-color: #F9F9F9;
	border-color: #606060;
}

.navbar-inverse .navbar-brand {
    color: #8E8E8E;
}

.navbar-brand {
/*     height: 30px; */
}

.navbar {
    min-height: 20px;
    margin-bottom: 5px;
	/* padding: 5px 5px; */
}