
.navbar-inverse {
    background-color: #c93838;
	border-color: #9C4545;
}

.navbar-inverse .navbar-brand {
    color: #FFFEFE;
}

.navbar-brand {
/*     height: 30px; */
}

.navbar {
    /* min-height: 30px; */
    margin-bottom: 10px;
	padding: 5px 15px;
}